# Medical imaging and model artifacts
data/
!data/.gitkeep

outputs/models/
outputs/metrics/
outputs/figures/

*.nii
*.nii.gz
*.npy
*.npz
*.pt
*.pth
*.ckpt

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# OS
.DS_Store
